---
---

@import "general";
@import "colors";
@import "blog";

.sub-header {
  display: flex;
  place-content: center;
}

.typewriter {
  width: 410px;
  .paper {
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
    animation: animated-text 12s steps(43, end) infinite normal both,
      animated-cursor 600ms steps(36, end) infinite;
    text-align: left;

    &::before {
      display: inline-block;
      content: "";
      animation: comment-starter 36s steps(43, end) infinite;
      margin-right: 0.5rem;
    }
  }
}

@keyframes comment-starter {
  0% {
    content: "//";
  }
  32% {
    content: "//";
  }
  33% {
    content: " '";
  }
  65% {
    content: " '";
  }
  66% {
    content: " #";
  }
  99% {
    content: " #";
  }
  100% {
    content: "//";
  }
}

@keyframes animated-text {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  40% {
    width: 390px;
  }
  60% {
    width: 390px;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
